/* Global */

:root {
  --cell-size: 47px;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Bebas Neue";
  font-size: 18px;
}

body {
  background-image: url("images/cover.png");
  background-repeat: repeat;
}

button {
  padding: 8px 16px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.button {
  width: 180px;
  animation: blink 0.6s infinite;
}

/* Start Screen */

/* Start Screen: Main styles */

#startScreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nickname-play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nickname-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label[for="nickname"] {
  color: #12364c;
  font-size: clamp(16px, 6vw, 30px);
  margin-bottom: 25px;
}

#nickname {
  font-family: "Bebas Neue";
  font-size: clamp(12px, 6vw, 22px);
  color: #12364c;
  background-color: #d2e6f2;
  padding: 8px;
  border: none;
}

input[type="text"]:focus {
  outline: 3px solid #12364c;
}

.play {
  margin-top: 30px;
}

/* Start Screen: Responsiveness */

#startScreen {
  min-width: 200px;
}

.title {
  width: clamp(0px, 80%, 500px);
}

#nickname {
  width: clamp(100px, 60vw, 250px);
}

.play {
  width: clamp(0px, 50%, 180px);
}

/* Game Screen */

#gameScreen {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 160px;
}

.player-container,
.opponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.player-name,
.opponent-name {
  margin-bottom: 20px;
}

.footer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-footer,
.opponent-footer {
  height: 100%;
  flex: 1;
}

.player-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-buttons-container {
  margin-top: 40px;
  margin-bottom: 30px;
}

.drag-drop-message {
  font-size: 14px;
}

.message-footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-left: 10px;
}

.restart-button {
  margin-left: 20px;
}

.Player,
.Opponent {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
}

.crosshair-cursor {
  cursor: crosshair;
}

.Player-cell,
.Opponent-cell {
  width: var(--cell-size);
  aspect-ratio: 1 / 1;
  font-size: 12px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Opponent-cell {
  background-color: rgb(107, 107, 115);
  z-index: 3;
}

.reveal-cell {
  background-color: transparent;
}

.Destroyer,
.Battleship,
.Submarine,
.Carrier,
.Cruiser {
  z-index: 1;
  position: absolute;
  touch-action: none;
  transform-origin: 25px calc(100% - 22px);
}

.transition {
  transition: 0.3s;
}

.default-cursor {
  /* Has to be positioned after the ships */
  cursor: default;
}
