/* Global */

:root {
  --cell-size: 47px;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  background-image: url("images/cover.png");
  background-repeat: repeat;
}

button {
  padding: 8px 16px;
}

/* Start Screen */

#startScreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nickname-container {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 58px;
}

label[for="nickname"] {
  font-size: 24px;
}

#nickname {
  height: 30px;
  width: 250px;
}

/* Game Screen */

#gameScreen {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 160px;
}

.player-container,
.opponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.player-name,
.opponent-name {
  margin-bottom: 20px;
}

.player-container,
.opponent-container,
.footer {
  border: 0px solid black; /* testing purposes */
}

.footer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-footer,
.opponent-footer {
  height: 100%;
  flex: 1;
}

.player-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-buttons-container {
  margin-top: 40px;
  margin-bottom: 30px;
}

.drag-drop-message {
  font-size: 14px;
}

.message-footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-left: 10px;
}

.restart-button {
  margin-left: 20px;
}

.Player,
.Opponent {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
}

.crosshair-cursor {
  cursor: crosshair;
}

.Player-cell,
.Opponent-cell {
  width: var(--cell-size);
  aspect-ratio: 1 / 1;
  font-size: 12px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  /* z-index: 2; */ /* this causes problems with drag & drop functionality */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Opponent-cell {
  background-color: rgb(107, 107, 115);
  z-index: 3;
}

.reveal-cell {
  background-color: transparent;
}

.Destroyer,
.Battleship,
.Submarine,
.Carrier,
.Cruiser {
  z-index: 1;
  position: absolute;
  background-size: cover;
  background-position: center;
  cursor: grab;
}

.Carrier {
  background-image: url("images/carrier.png");
}

.Battleship {
  background-image: url("images/battleship.png");
}

.Cruiser {
  background-image: url("images/cruiser.png");
}

.Submarine {
  background-image: url("images/submarine.png");
}
.Destroyer {
  background-image: url("images/destroyer.png");
}

.rotate {
  /* transform: rotate(90deg);
  transform-origin: 110px 94px 0px; */
  transform: rotate(-90deg);
  transform-origin: calc(var(--cell-size) / 2) calc(var(--cell-size) / 2);
}

.dragover {
  background-color: red;
  border: 4px solid black;
}

.default-cursor {
  /* Has to be positioned after the ships */
  cursor: default;
}
